<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <table class="table table-success table-striped">
        <thead>
        <td>Id</td>
        <td>Имя</td>
        <td></td>
        <tr></tr>
        </thead>
        <tbody>
        <tr th:each="c : ${customers}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td>
                <a th:href="@{'/customers/' + ${c.id}}" class="btn btn-primary">Инфо</a>
            </td>
        </tr>
        <a th:href="@{/}" class="btn btn-info"> На главную</a>

        </tbody>
    </table>
    <span th:text="${'Всего покупателей: '+customers.size}"/>
</div>
</body>
</html>